{% load static %}
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
  <a
    href="index.html"
    class="navbar-brand d-flex align-items-center px-4 px-lg-5"
  >
    <img
      class="img-fluid"
      src="{% static 'img/logo-01.jpg' %}"
      alt="Catobi Logo"
    />
  </a>
  <button
    type="button"
    class="navbar-toggler me-4"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          >About Us</a
        >
        <div class="dropdown-menu fade-up m-0">
          <a href="{% url 'corporate' %}" class="dropdown-item"
            >Corporate Overview</a
          >
          <a href="{% url 'mddesk' %}" class="dropdown-item">From MD’s Desk</a>
          <a href="{% url 'mission' %}" class="dropdown-item"
            >Mission & Vision</a
          >
          <a href="team.html" class="dropdown-item">Quality Policy</a>
          <a href="testimonial.html" class="dropdown-item">Certifications</a>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          >Services</a
        >
        <div class="dropdown-menu fade-up m-0">
          <a href="{% url 'services' 'valve' %}" class="dropdown-item"
            >Valve Procurement and Maintenance</a
          >
          <a href="{% url 'services' 'pipeline' %}" class="dropdown-item">Pipeline Services</a>
          <a href="{% url 'services' 'training' %}" class="dropdown-item">Training Services</a>
          <a href="{% url 'services' 'freight' %}" class="dropdown-item"
            >Freight Forwarding Services</a
          >
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          >Facilities</a
        >
        <div class="dropdown-menu fade-up m-0">
          <a href="{% url 'facility' 'testing' %}" class="dropdown-item">Testing Facility</a>
          <a href="{% url 'facility' 'assembly' %}" class="dropdown-item">Valve Assembly</a>
        </div>
      </div>
      <a href="{% url 'projects' %}" class="nav-item nav-link">Projects</a>
      <a href="https://freight.catobi.com/" target="_blank" class="nav-item nav-link">Order Tracking</a>
      <a href="contact.html" class="nav-item nav-link">Contact</a>
    </div>
    <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"
      >Get A Quote<i class="fa fa-arrow-right ms-3"></i
    ></a>
  </div>
</nav>
<!-- Navbar End -->
