{% extends "base.html" %} {% load static %} {% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/sandblast.css' %}" />
{% endblock stylesheet %} {% block content %}
<div class="product-container">
  <div class="sandblast-contents">
    <div class="sandblast-img">
      <img src="{% static 'img/products/sandblast-01.jpeg' %}" alt="" />
    </div>
    <div class="sandblast-texts">
      <div class="title">
        <h1>Sandblasting Machine</h1>
        <p>
          It removes rust, old paint, scale, grease, and surface contaminants,
          leaving the material smooth, roughened, or profiled depending on the
          purpose. Sandblasting is essential for industrial maintenance, surface
          preparation before coating, metal fabrication, and restoring aging
          structures like pipelines, tanks, bridges, and machinery.
        </p>
      </div>
      <div class="product-info">
        <p>
          This Mobile blasting machine is environment friendly which features
          Ultra silent compressor suitable for:
        </p>
        <p class="sandblast-benefit">Dustless blasting</p>
        <p class="sandblast-benefit">Dry blasting</p>
        <p class="sandblast-benefit">Soda blasting</p>
        <p>
          It utilizes time with fast delivery and uses all kinds of abrasives
          depending on your project.
        </p>
      </div>
      <div class="btn-group">
        <a
          href="{% url 'services' 'training' %}"
          class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"
          >Contact</a
        >
        <a
          href="{% url 'quote' %}"
          class="btn btn-light py-md-3 px-md-5 animated slideInRight"
          >Request Quote</a
        >
      </div>
    </div>
  </div>
  <div class="product-gallery">
    <h2>Equipment Photos</h2>
    <div class="product-img">
        <img src="{% static 'img/products/sandblast-02.jpeg' %}" alt="">
    </div>
  </div>
</div>
{% endblock content %}
