{% extends "base.html" %} {% load static %} {% block content %}

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
  <div class="container py-5">
    <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-white" href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-white" href="{% url 'mission' %}">About Us</a>
        </li>
        <li class="breadcrumb-item text-white active" aria-current="page">
          Mission, Vision and Quality Statement
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
  <div class="container about px-lg-0">
    <div class="row g-0 mx-lg-0">
      <div class="col-lg-6 ps-lg-0" style="min-height: 400px">
        <div class="position-relative h-100">
          <img
            class="position-absolute img-fluid w-100 h-100"
            src="{% static 'img/about-03.jpg' %}"
            style="object-fit: cover"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="p-lg-5 pe-lg-0">
          <div class="section-title text-start">
            <h1 class="display-5 mb-4">Mission Statement</h1>
          </div>
          <p class="mb-4 pb-2">
            To continually set the standard for the oil and gas sector of
            Nigeria’s economy through the constant innovation of world class
            service delivery and the unwavering pursuit of excellence in this
            field.
          </p>
          <div class="section-title text-start">
            <h1 class="display-5 mb-4">Quality Statement</h1>
          </div>
          <p class="mb-4 pb-2">
            The management of CNEL is totally committed to quality and so all
            personnel in all job functions perform their duties in accordance
            with the requirement of the Quality System standard and are
            committed to the company’s quality objective in everyday life.
          </p>
          <div class="section-title text-start">
            <h1 class="display-5 mb-4">Community Relations</h1>
          </div>
          <p class="mb-4 pb-2">
            CATOBI NIGERIA ENTERPRISE LIMITED is committed as a matter of policy
            towards maintaining an improved relationship with communities in the
            areas of its operations. To this effect, the community development
            department of the company ensures that adequate compensation is made
            where necessary to communities where CATOBI NIGERIA ENTERPRISE
            LIMITED operates.
          </p>
         
          {% include "partials/happy_clients.html" %}
          <a href="" class="btn btn-primary py-3 px-5">Explore More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

{% include "partials/features.html" %} {% endblock content %}
