{% extends "base.html" %} {% load static %} {% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
  <div class="container py-5">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Request a Quote</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-white" href="{% url 'home' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-white" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="breadcrumb-item text-white active" aria-current="page">
          Request a Quote
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->
{% include "partials/quote.html" %}

<!-- Contact End -->
{% include "partials/features.html" %} {% endblock content %}
